[submodule "maphy/topins"]
	path = maphy/topins
	url = https://github.com/shtsoft/topins
[submodule "maphy/2dibc"]
	path = maphy/2dibc
	url = https://github.com/shtsoft/2dibc
[submodule "maphy/catctxphy"]
	path = maphy/catctxphy
	url = https://github.com/shtsoft/catctxphy
